USE [QLSanBong]
GO
/****** Object:  Table [dbo].[BookingServices]    Script Date: 4/13/2026 11:31:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingServices](
	[Id] [uniqueidentifier] NOT NULL,
	[BookingId] [uniqueidentifier] NOT NULL,
	[ServiceId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_BookingServices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PitchBookings]    Script Date: 4/13/2026 11:31:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PitchBookings](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PitchId] [uniqueidentifier] NOT NULL,
	[BookingDate] [datetime2](7) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PitchBookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pitches]    Script Date: 4/13/2026 11:31:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pitches](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PitchType] [nvarchar](50) NOT NULL,
	[PricePerHour] [decimal](18, 2) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Pitches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PitchMaintenances]    Script Date: 4/13/2026 11:31:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PitchMaintenances](
	[Id] [uniqueidentifier] NOT NULL,
	[PitchId] [uniqueidentifier] NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[EstimatedCost] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_PitchMaintenances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 4/13/2026 11:31:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Unit] [nvarchar](max) NOT NULL,
	[Category] [int] NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/13/2026 11:31:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[Role] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[PitchBookings] ([Id], [UserId], [PitchId], [BookingDate], [StartTime], [EndTime], [TotalPrice], [Status], [Notes], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'fe7ace76-bf06-4080-8cef-8fe0504c6997', N'cc29202b-1581-4626-8523-614791a3ea7a', N'e59d869a-264a-4289-bcf1-1fb316851fe3', CAST(N'2026-04-14T00:00:00.0000000' AS DateTime2), CAST(N'19:00:00' AS Time), CAST(N'20:30:00' AS Time), CAST(675000.00 AS Decimal(18, 2)), N'Pending', N'Khách hẹn trả tiền mặt tại sân', CAST(N'2026-04-13T04:22:55.8742213' AS DateTime2), NULL, 0, NULL)
INSERT [dbo].[PitchBookings] ([Id], [UserId], [PitchId], [BookingDate], [StartTime], [EndTime], [TotalPrice], [Status], [Notes], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'50aa6d98-fcb3-445b-9c35-f15d7717c2a1', N'cc29202b-1581-4626-8523-614791a3ea7a', N'f33fe48e-dd80-489f-a722-60cbe6e20f6e', CAST(N'2026-04-12T00:00:00.0000000' AS DateTime2), CAST(N'17:00:00' AS Time), CAST(N'18:30:00' AS Time), CAST(375000.00 AS Decimal(18, 2)), N'Approved', N'Khách VIP, đã thanh toán VNPay', CAST(N'2026-04-13T04:22:55.8743251' AS DateTime2), NULL, 0, NULL)
GO
INSERT [dbo].[Pitches] ([Id], [Name], [PitchType], [PricePerHour], [ImageUrl], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'e59d869a-264a-4289-bcf1-1fb316851fe3', N'Sân Mini B2 (7 người)', N'Sân 7', CAST(450000.00 AS Decimal(18, 2)), N'https://images.unsplash.com/photo-1431324155629-1a6deb1dec8d?q=80&w=800', CAST(N'2026-04-13T04:22:55.5619762' AS DateTime2), NULL, 0, NULL)
INSERT [dbo].[Pitches] ([Id], [Name], [PitchType], [PricePerHour], [ImageUrl], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'fbd9d9f7-8cd4-42b3-b9f9-49d4b96eb4f7', N'Sân Mini B3 (7 người)', N'Sân 7', CAST(450000.00 AS Decimal(18, 2)), N'https://images.unsplash.com/photo-1518005020951-eccb494ad742?q=80&w=800', CAST(N'2026-04-13T04:22:55.5619766' AS DateTime2), NULL, 0, NULL)
INSERT [dbo].[Pitches] ([Id], [Name], [PitchType], [PricePerHour], [ImageUrl], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'f33fe48e-dd80-489f-a722-60cbe6e20f6e', N'Sân Mini A1 (5 người)', N'Sân 5', CAST(250000.00 AS Decimal(18, 2)), N'https://images.unsplash.com/photo-1529900748604-07564a03e7a6?q=80&w=800', CAST(N'2026-04-13T04:22:55.5618658' AS DateTime2), NULL, 0, NULL)
GO
INSERT [dbo].[Services] ([Id], [Name], [Price], [Unit], [Category]) VALUES (N'cc382cf6-5b04-4e21-a9d9-3355bc86d587', N'Nước tăng lực Sting', CAST(15000.00 AS Decimal(18, 2)), N'Chai', 1)
INSERT [dbo].[Services] ([Id], [Name], [Price], [Unit], [Category]) VALUES (N'f5c8ad26-50bd-4c48-b9a5-44a49eae4682', N'Thuê bóng', CAST(30000.00 AS Decimal(18, 2)), N'Quả', 3)
INSERT [dbo].[Services] ([Id], [Name], [Price], [Unit], [Category]) VALUES (N'089e2af2-4722-4211-808e-b7eb8c31c99b', N'Nước suối Aquafina', CAST(10000.00 AS Decimal(18, 2)), N'Chai', 1)
GO
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [PhoneNumber], [AvatarUrl], [Role], [IsDeleted], [DeletedAt], [CreatedAt], [UpdatedAt]) VALUES (N'cc29202b-1581-4626-8523-614791a3ea7a', N'Nguyễn Văn Khách', N'khachhang@gmail.com', N'$2a$11$T7HQSyXoU529rnWe42N87.HIV7vcFqPm1oQhmFmgt/2MAe2AlY.92', NULL, NULL, N'Customer', 0, NULL, CAST(N'2026-04-13T04:22:55.5618640' AS DateTime2), NULL)
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [PhoneNumber], [AvatarUrl], [Role], [IsDeleted], [DeletedAt], [CreatedAt], [UpdatedAt]) VALUES (N'f15ac255-9702-4dc0-99bc-d1fda8eb1d60', N'Quản Trị Viên', N'admin@qlsanbong.com', N'$2a$11$PUS6GTOANnFqJ8H7MRu48On09g..SUuYNUHxsW9MsAuhDyl6eWV86', NULL, NULL, N'Admin', 0, NULL, CAST(N'2026-04-13T04:22:55.5618481' AS DateTime2), NULL)
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [FK_BookingServices_PitchBookings_BookingId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[PitchBookings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [FK_BookingServices_PitchBookings_BookingId]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [FK_BookingServices_Services_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [FK_BookingServices_Services_ServiceId]
GO
ALTER TABLE [dbo].[PitchBookings]  WITH CHECK ADD  CONSTRAINT [FK_PitchBookings_Pitches_PitchId] FOREIGN KEY([PitchId])
REFERENCES [dbo].[Pitches] ([Id])
GO
ALTER TABLE [dbo].[PitchBookings] CHECK CONSTRAINT [FK_PitchBookings_Pitches_PitchId]
GO
ALTER TABLE [dbo].[PitchBookings]  WITH CHECK ADD  CONSTRAINT [FK_PitchBookings_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PitchBookings] CHECK CONSTRAINT [FK_PitchBookings_Users_UserId]
GO
ALTER TABLE [dbo].[PitchMaintenances]  WITH CHECK ADD  CONSTRAINT [FK_PitchMaintenances_Pitches_PitchId] FOREIGN KEY([PitchId])
REFERENCES [dbo].[Pitches] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PitchMaintenances] CHECK CONSTRAINT [FK_PitchMaintenances_Pitches_PitchId]
GO
